/* Center content */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Add card styling */
.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Customize heading */
h2 {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #333;
}

/* Customize list item */
.list-group-item {
  padding: 10px;
  font-size: 16px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.list-group-item:last-child {
  border-bottom: none;
}

.list-group-item:hover {
  background-color: #f1f1f1;
}

.custom-submit-btn {
  display: block;
  width: 30%;
  background-color: #28a745 !important; 
  border-color: #28a745 !important;
  color: white !important;
  margin: 0 auto; 
}

.custom-submit-btn:hover {
  background-color: #218838 !important;
  border-color: #1e7e34 !important;
}

.custom-btn {
  background-color: #28a745 !important; 
  border-color: #28a745 !important;
  color: white !important;
  width: 25%; /* Fixed width for pagination buttons */
}

.custom-btn:hover {
  background-color: #218838 !important; 
  border-color: #1e7e34 !important;
}


